<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FountainBlue.Host.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="FountainBlue.Windows.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" />
  </system.web>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <applicationSettings>
    <FountainBlue.Host.Console.Properties.Settings>
      <setting name="ScriptsDirectory" serializeAs="String">
        <value>Scripts</value>
      </setting>
      <setting name="ServiceAddress" serializeAs="String">
        <value>http://localhost:8733/Design_Time_Addresses/</value>
      </setting>
      <setting name="ServiceName" serializeAs="String">
        <value>DataService</value>
      </setting>
    </FountainBlue.Host.Console.Properties.Settings>
    <FountainBlue.Windows.Console.Properties.Settings>
      <setting name="ScriptsDirectory" serializeAs="String">
        <value>Scripts</value>
      </setting>
    </FountainBlue.Windows.Console.Properties.Settings>
  </applicationSettings>

</configuration>